$background-color-page: #1a1a1a;
$font-color: #bbbbbb;
$background-navbar: #444444;
$font-color-navbar: #ebebeb;
$a-hover-background-color: #1a1a1a;
$a-hover-font-color: #ebebeb;
$font-size-default: 16px;
$background-footer: #444444;
$font-color-footer: #ebebeb;

$font-family-text: 'Verdana', sans-serif;